@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
  body {
    font-family: "Noto Sans", sans-serif;
    background: #F3F3F8;
  }
  .select-input-arrow {
    background-position: right 1.48rem center !important;
  }
}

@layer components {
  .sidebar {
    @apply transition-all overflow-hidden;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 10ms;
  }
  .main-content {
    @apply transition-all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 10ms;
  }
  .sidebar > div {
    @apply bg-transparent;
  }
  .sidebar-items ul li a {
    @apply text-base font-medium text-secondary-700 p-[18px] min-w-full inline-flex;
  }
  .sidebar-items ul li a svg {
    @apply text-secondary-800;
  }
  .active-item {
    @apply bg-active-blue rounded-[100px] !important;
  }
  .active-item svg path {
    @apply text-active-blue-text;
  }
  .active-item span {
    @apply text-active-blue-text;
  }
  .card {
    @apply bg-white p-4 rounded-3xl;
  }
  .sidebar-toggle {
    @apply w-[0] !important;
  }
  .listing-border {
    @apply border-b border-b-border;
  }
  .listing-border:last-child {
    @apply border-b-0;
  }
  .badge {
    @apply rounded-2xl px-2 py-1 text-sm text-secondary-100 font-semibold leading-[18px];
  }
  .card-details li {
    @apply flex items-center justify-between border-b border-b-border pb-3 mb-3
  }
  .add-attorney {
    @apply border-b border-b-border pb-3 mb-3
  }
  .card-details li:last-child {
    @apply border-b-0 pb-0 mb-0
  }
  .card-details li span.left-txt {
    @apply text-base text-secondary-800 font-medium
  }
  .card-details .profile {
    @apply justify-start
  }
  .card-details .profile.content-between {
    @apply justify-between
  }
  .card-details .profile .left-txt {
    @apply text-xl
  }
  .progress-bars>div {
    @apply flex-1
  }
  .custom-progress {
    @apply h-10 rounded-lg bg-badge-gray !important
  }
  .custom-progress>div {
    @apply h-10 rounded-lg bg-primary2 text-white text-xs leading-10 !important
  }
  .custom-radio input {
    @apply text-primary2 focus:ring-transparent
  }
  .btn-theme {
    @apply bg-primary text-sm text-white py-[10px] px-6 rounded-[100px]
  }
  .btn-disabled {
    @apply bg-bg-input text-secondary-300
  }
  .btn-theme.btn-gray {
    @apply bg-badge-gray text-secondary-800
  }
  .btm-border-0 {
    @apply border-b-0 !important
  }
  .form-input::placeholder {
    @apply text-secondary-700
  }

  .list-w-full {
    @apply block !important
  }
  .list-w-full li {
    @apply border-b-0 mb-2 pb-2 px-0 !important
  }
  .list-w-full li:last-child {
    @apply mb-0 pb-0 !important
  }
  .right-listing li {
    @apply pb-5 mb-5
  }
  .new-case-modal > div{
    @apply max-w-[624px]
  }
  .new-case-modal > div > div{
    @apply rounded-3xl
  }
  .task-checklist {
    @apply border-b border-b-border pl-6 pr-4
  }
  .task-checklist:last-child {
    @apply border-b-0
  }
  .task-checklist input[type="checkbox"] {
    @apply bg-white border-black
  }
  .task-checklist input[type="checkbox"]:checked {
    @apply bg-primary2 border-primary2
  }
  .task-checklist input[type="checkbox"]:focus {
    @apply ring-transparent
  }
  .contact-accordian-title svg {
    @apply opacity-40
  }
  .contact-accordian-body li {
    @apply px-0
  }
  .spinner-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-40 backdrop-blur-sm flex justify-center items-center z-[9999]
  }
  .spinner-container {
    @apply relative
  }
  .spinner-container svg {
    @apply w-[50px] h-[50px] fill-primary
  }
  .stepper-li:last-child {
    @apply w-auto after:hidden
  }
  .custom-datepicker input {
    @apply bg-input-surface py-[10px] pl-9 pr-4 rounded-full border-0 text-sm leading-5 font-semibold text-label
  }
  .contacts-table {
    @apply rounded-2xl shadow-shadow-light px-4 bg-white
  }
  .contacts-table th {
    @apply py-[14px] bg-white text-sm text-secondary-800 capitalize font-medium px-4 first:pl-0 last:pr-0
  }
  .contacts-table td {
    @apply py-2 text-sm text-secondary-800 font-medium px-4 first:pl-0 last:pr-0
  }
  .contacts-table.addFromContactModal {
    @apply  bg-input-surface
  }
  .contacts-table.addFromContactModal th {
    @apply  bg-input-surface
  }
  .contacts-table.addFromContactModal td {
    @apply  bg-input-surface
  }
  .items-dropdown > button {
    @apply bg-white shadow-shadow-light py-[10px] px-5 rounded-full flex items-center text-base text-secondary-800 font-medium
  }
  .items-dropdown ul li button {
    @apply hover:bg-bg-gray-200
  }
}
