@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer;
  }
  body {
    font-family: "Noto Sans", sans-serif;
    background: #f6f6f6;
  }
}

@layer components {
  .sidebar {
    @apply transition-all overflow-hidden;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 10ms;
  }
  .main-content {
    @apply transition-all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 10ms;
  }
  .sidebar > div {
    @apply bg-transparent;
  }
  .sidebar-items ul li a {
    @apply text-base font-medium text-secondary-500 p-[18px] min-w-full inline-flex;
  }
  .sidebar-items ul li a svg {
    @apply text-black;
  }
  .active-item {
    @apply bg-active rounded-[100px] !important;
  }
  .card {
    @apply bg-white p-4 rounded-2xl;
  }
  .sidebar-toggle {
    @apply w-[0] !important;
  }
  .listing-border {
    @apply border-b border-b-border;
  }
  .listing-border:last-child {
    @apply border-b-0;
  }
  .badge {
    @apply rounded-2xl px-2 py-1 text-sm text-secondary-100 font-semibold leading-[18px];
  }
}
